
*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
}
.content{
  position: absolute;
  top: 50px;
}

.light_mode{
  --blue_color: #0059b3;
  --light_gray: #dddddd;
  --text_color: #000000;
}
.dark_mode{
  background-color: #2e2e2e;
  --blue_color: #002a53;
  --light_gray: #6e6e6e;
  --text_color: #ffffff;
}

/*--------------------------------------Top Banner */
.top_banner{
  width: 100%;
  background-color: var(--blue_color);
  color: #ffffff;
  margin-top: 30px;
}
.top_banner img{
  height: 300px;
  width: 100%;
}
.banner_text{
  padding: 0 10px 20px 10px;
}

/*--------------------------------------Gallery grid */
.content_gallery{
  width: 100%;
  padding-top: 20px;
  text-align: center;
  background-color: var(--light_gray)
}
.content_gallery h1{
  color: var(--text_color);
}
.gallery_grid img{
  width: 100%;
}

/*--------------------------------------Articles */
.content_article{
  padding: 30px 0;
}
.content_article .sections section{
  border: 1px dashed #8d8d8d;
  padding: 15px 5px;
}
.content_article .content_text{
  height: 100%;
  padding-bottom: 15px;
  background-image: url("./text_background1.jpg");
  background-attachment: fixed;
  text-align: center;
}
.sections h2{
  color: var(--text_color);
}
.content_section img{
  width: 100%;
}
.content_section p{
  background-color: var(--blue_color);
  color: #ffffff;
  padding: 5px;
}

/*--------------------------------------Paragraph */
.content_p{
  padding: 40px;
  background-color: var(--blue_color);
  color: #ffffff;
  margin: 30px 0;
}
.content_p h1{
  text-align: center;
  margin-bottom: 20px;
}

/*--------------------------------------Partners */
.content_partner{
  height: 100%;
  background-image: url("./text_background2.jpg");
  background-attachment: fixed;
  padding-bottom: 15px;
  text-align: center;
}

/*--------------------------------------Footer */
footer{
  height: 100%;
  margin-top: 50px;
  padding-bottom: 40px;
  background: linear-gradient(to bottom right, #8d8d8d, #363636);  
  text-align: center;
}
footer a{
  display: block;
  padding-top: 20px;
  text-decoration: none;
  color: #ffffff;
}

/*------------------------------------------------------------------------DESKTOP MODE*/
/*------------------------------------------------------------------------DESKTOP MODE*/
@media screen and (min-width: 800px){

  .top_banner{
    display: flex;
  }
  .banner_text{
    width: 40%;
    order: 1;
  }
  .top_banner img{
    width: 60%;
    height: 400px;
    order: 2;
  }

  .gallery_grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 5px;
  }

  .content_article .content_text{
    height: 200px;
  }
  .content_article .sections{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
  }
  .sections h2{
    height: 80px;
  }
  .content_section img{
    height: 300px;
  }
  .content_section p{
    width: 100%;
    height: 220px;
    padding: 5px;
    overflow-y: auto;
  }

  .content_p{
    padding: 80px;
  }
  
  footer{
    height: 150px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-evenly;
  }
}

