
.contenedor_modal{
  width: 100vw;
  height: 100vh;
  background-color: #aaaaaaa8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
}
.name_modal{
  background-color: #dddddd;
  padding: 50px;
  border-radius: 10px;
}
.name_modal h3{
  margin-bottom: 10px;
}
.name_modal input, .name_modal button{
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}
.name_modal button{
  cursor: pointer;
}
.name_modal button:active{
  background-color: #777777;
  color: #ffffff
}